@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e7e8ea;
    padding: 0px;
    margin: 0px;
}

.article-img {
    width: 50%;
    display: block;
    margin: 10px auto;
}

.main-wrapper {
    margin-top: 80px;
    padding: 0px;
}

.category-block {
    font-size: 14px;
}

.link-color:hover {
    color: #0998c6;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #0072bc;
    color: #fff;
    display: none;
    text-align: center;
    padding-top: 16px;
}

.back-to-top:hover,
.back-to-top:focus {
    background-color: #0998c6;
    transition: .5s;
    outline: none;
    color: #fff;
}

h2,
h3,
h4,
h5 {
    padding: 0px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0072bc;
}

h1 {
    padding-top: 10px;
    margin: 0px;
}

.like-dislike-block {
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 700;
}

.like-dislike-block-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like-dislike-block-row>h4 {
    margin: 0px;
}

.comments-hide-show-block {
    background-color: #0072bc;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    min-height: 25px;
}

.comments-hide-show-block-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.comments-hide-show-block-el1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
}

.comments-hide-show-block-el1>p {
    margin-left: 5px;
}

.comments-hide-show-block-el2 {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
    color: #0072bc;
    width: 80%;
    margin-left: 10px;
}

p {
    padding: 0px;
    margin: 0px;
}

.block-news {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 7px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-row {
    background-color: #0072bc;
}

.news-article-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
    align-items: flex-start;
}

.article-block {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.article-block-wrapper {
    width: calc(75% - 20px);
    display: flex;
    flex-direction: column;
}

.sidebar-block {
    background-color: #fff;
    border-radius: 5px;
    width: calc(25% - 20px);
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 80px;
}

.sidebar-block-el {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-block-el-param {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.sidebar-block-el-param>.like-dislike-comment {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
    font-size: 13px;
    color: #b5bbc8;
}

hr {
    border: none;
    background-color: #b5bbc8;
    color: #b5bbc8;
    height: 1px;
}

.article-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.article-header p {
    font-size: 11pt;
}

.article-img {
    width: 40%;
}

.article-info {
    width: 50%;
    padding: 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-parameters {
    display: flex;
    flex-direction: column;
    color: #b5bbc8;
}

.article-parameters-row1 {
    margin-top: 10px;
}

.article-parameters-row2 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-parameters-row2-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-parameters-row2-block-element {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.article-parameters-row2-block-el {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.article-parameters-row2-block-element>.like-dislike-comment {
    margin-left: 0px;
    margin-right: 7px;
}

.article-parameters-row2-block-element>p {
    margin-left: 10px;
}

.item {
    background-color: #fff;
    width: calc(33.33333333333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 5px 10px 2px rgba(181, 187, 200, 0.5);
    display: flex;
    flex-direction: column;
}

.item>a {
    text-decoration: none;
    color: black;
}

.item h2 {
    margin-bottom: 7px;
}

.item:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: all .5s ease-in-out;
}

@media (max-width:900px) {
    .sidebar-block {
        display: none;
    }
    .article-block-wrapper {
        width: 100%;
    }
    .article-parameters-row2 {
        flex-direction: column;
    }
    .article-parameters-row2-block-element>p {
        margin-left: 0px;
        margin-right: 10px;
    }
    .article-parameters-row2-block-element {
        margin-top: 10px;
    }
    .article-parameters-row2-block-element {
        margin-top: 0px;
    }
    .item {
        width: calc(100% - 20px);
    }
    .item-text-img {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .item-text-img>.text-block {
        margin-left: 10px;
    }
    .image-block {
        margin-top: 0px;
    }
    h2 {
        font-size: 20px;
    }
    #hide {
        display: none;
    }
}

.img_small {
    width: 100%;
    border-radius: 5px;
}

.top-news-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #b5bbc8;
    margin-bottom: 7px;
}

.bottom-news-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #b5bbc8;
    margin-top: 8px;
}

.like-dislike-comment {
    display: flex;
    margin-right: 0px;
    align-items: baseline;
}

.like-dislike-comment-block {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    align-items: flex-start;
    font-size: small;
}

.news-title-text {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

.navbar {
    color: #fff;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.image-block {
    margin-top: 10px;
}

.container img {
    display: block;
    width: 100%;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 70px;
    background-color: #0072bc;
    box-shadow: 0px 0px 14px -5px #000000;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links li i {
    margin-right: 3px;
}

nav .links a {
    display: block;
    padding: 11px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav .links a:hover {
    background-color: #0998c6;
    transition: .5s;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #0072bc;
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    h2 {
        font-size: 17px;
    }
}

.floating-button-green {
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    background: #e7e8ea;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button-green:hover {
    background: rgb(64, 199, 129);
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: #fff;
    transform: translateY(-3px);
}

.floating-button-red {
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    background: #e7e8ea;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button-red:hover {
    background: #eb3333;
    box-shadow: 0 15px 20px rgba(235, 51, 51, 0.4);
    color: #fff;
    transform: translateY(-3px);
}

.like-dislike-button-block {
    display: flex;
    flex-direction: row;
}

.comments-block {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.comment {
    background-color: #e7e8ea;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: flex-start;
}

.comment-user-ava {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.comment-text {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

.comment-row1 {
    display: flex;
    flex-flow: row;
}

.comment-row1-username {
    margin-right: 10px;
}

.comment-row2 {
    margin-top: 10px;
}

.create-comment-block {
    background-color: #fff;
    display: flex;
    flex-flow: row;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.inputs-block {
    display: flex;
    flex-flow: column;
}

input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    background-color: #e7e8ea;
    font-family: 'Roboto', sans-serif;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    background-color: #e7e8ea;
    max-height: 400px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.button7 {
    margin-top: 10px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
    border: none;
    outline: none;
}

.button7:hover {
    background: rgb(53, 167, 110);
}

.button7:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.hide {
    display: none;
}

.fotter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    background-color: #5a6f7a;
    color: #fff;
    height: 70px;
    padding: 10px;
}

.position-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}

.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: black;
}

.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #0998c6;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #fff;
}

.d1 button:before {
    font-size: 16px;
    color: #F9F0DA;
}

* {
    box-sizing: border-box;
}

.form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.inp,
#b1 {
    display: flex;
    flex-flow: row;
    margin-left: 80%;
}

#crypto_name,
#crypto_price,
#price_change_perc_24h {
    font-weight: bold;
    font-size: large;
}

.sec_row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

#crypto_name {
    margin-left: 10px;
}

#crypto_price {
    margin-right: 10px;
}

.prices {
    margin-left: auto;
}

.websites {
    display: flex;
}

.market_cap {
    display: flex;
}

.market_rank {
    display: flex;
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin-left: 10px;
}

.tags {
    display: flex;
}

.source_code {
    display: flex;
}

.right_block {
    display: flex;
    margin: 0px;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

#market_cap_vol,
#traiding_vol,
#low_high,
#dil_val,
#circ_sup,
#max_supply {
    font-weight: bold;
}

.main-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px 5% 0px 5%;
}

.market_cap,
.websites,
.source_code {
    display: flex;
    align-items: baseline;
}

.tradingview-widget-container {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third_row a {
    color: #0998c6;
}

.m-t-10px {
    margin-top: 10px;
}

.websites,
p {
    margin-right: 5px;
}